<!DOCTYPE html>
<html ng-app="website">
	<title>Ryan Wong</title>
	<head>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="css/index.css">
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/projecttabs.js"></script>
	</head>

	<body>

		<div class="nav nav-tabs">
			<li><a href="index.html">Home</a></li>
			<li><a href="about.html">About</a></li>
			<li class="active"><a href="projects.html">Projects</a></li>
			<li><a href="contact.html">Get in touch!</a></li>
		</div>

		<div class="jumbotron">
			<h1>Projects:</h1>
			<p>All personal projects can be found
			<a href="https://github.com/RMWong">here</a></p>
		</div>



		<section ng-controller="TabController as tab">
			<ul class="nav nav-pills">
				<li ng-class=" { active:tab.isSet(1) }"><a href="" ng-click="tab.setTab(1)">Personal</a></li>
				<li ng-class=" { active:tab.isSet(2) }"><a href="" ng-click="tab.setTab(2)">Academic</a></li>
			</ul>
			
			<div ng-show="tab.isSet(1)">
				<h4>Personal</h4>
				<!-- Re-factor and use controllers -->
				<p>List of my personal projects with their respective descriptions and GitHub link.</p>

			</div>
			<div ng-show="tab.isSet(2)">
				<h4>Academic</h4>
				<p>List of my academic projects with their respective descriptions (no GitHub link).</p>

				<ul>
					<li>
						<p>TODO
						</p>
					</li>

				<ul>
					
			</div>
		</section>

	</body>
</html>
